<table class="entry-container" cellspacing="0">
    <tr>
        <td class="col-md-6">
            <mat-form-field>
                <input matInput placeholder="Placa" [(ngModel)]="licensePlate">
            </mat-form-field>
        </td>
        <td class="col-md-2">
            <button mat-button color="primary" (click)="saveCar($event)">Car</button>
        </td>
        <td class="col-md-2">
            <button mat-button class="col-md-2" color="primary" (click)="saveBike($event)">Bike</button>
        </td>
        <td class="col-md-2">
            <button mat-button class="col-md-2" color="primary" (click)="saveBigBike($event)">BigBike</button>
        </td>
    </tr>
</table>
<p>{{licensePlate}}</p>
